.delete {
    text-align: center;
    margin: 50px;
}

.delete .danger p {
    color: red;
    font-size: x-large;
}

.delete .return p,
.delete .return a {
    color: #356FC6;
}

.delete a:hover {
    text-decoration: underline;
}