.home {
    margin: 10rem 5rem;
}

.home div {
    display: flex;
    justify-content: center;
}

.home p {
    text-align: center;
}

.home hr {
    border: 0.2rem solid white;
    border-radius: 2rem;
    width: 50%;
    margin: 3rem auto;
}

.home button {
    margin-bottom: 0;
}